<!-- templates/alert.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
	<h3 class="title">Alert</h3>
	<div class="box">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
		<form method="POST" action="{{ request.endpoint }}">
			{{ form.csrf_token }}

			<div class="field control form-group">
				{{ form.name.label(class="label") }}
				{{ form.name(placeholder='Alert Name', class="input is-large") }}
				{% if form.name.errors %}
					<ul class="errors">
						{% for error in form.name.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				{{ form.method.label(class="label") }}
				{{ form.method(class="input is-large") }}
				{% if form.method.errors %}
					<ul class="errors">
						{% for error in form.method.errors %}
							<li class="help is-method">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				{{ form.target.label(class="label") }}
				{{ form.target(class="input is-large") }}
				{% if form.target.errors %}
					<ul class="errors">
						{% for error in form.target.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				<div class="submit-button">
					{{ form.submit(class="button is-block is-info is-large is-fullwidth") }}
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}