<!-- templates/alert.html -->

{% extends "base.html" %}
{% set active_page = "alerts" %}

{% block content %}
<div class="column">
	<h3 class="title">Alert</h3>
	<div class="box">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
		<form method="POST" {% if alert_id %} action="{{ url_for(request.endpoint, alert_id=alert_id) }}" {% else %} action="{{ url_for(request.endpoint) }}" {% endif %}>
			{{ form.csrf_token }}

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					{{ form.name.label(class="label") }}
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							{{ form.name(placeholder='Alert Name', class="input is-normal") }}
							{% if form.name.errors %}
								<ul class="errors">
									{% for error in form.name.errors %}
										<li class="help is-danger is-size-6">{{ error }}</li>{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					{{ form.method.label(class="label") }}
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<div class="select is-fullwidth is-normal">
								{{ form.method() }}
							</div>
							{% if form.method.errors %}
								<ul class="errors">
									{% for error in form.method.errors %}
										<li class="help is-danger is-size-6">{{ error }}</li>{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					{{ form.target.label(class="label") }}
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							{{ form.target(placeholder='https://hooks.slack.com/token', class="input is-normal") }}
							<ul>
								<li id="method_help" class="help is-size-6"></li>
							</ul>
							{% if form.target.errors %}
								<ul class="errors">
									{% for error in form.target.errors %}
										<li class="help is-danger is-size-6">{{ error }}</li>{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label">
					<!-- Left empty for spacing -->
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							{{ form.submit(class="button is-primary is-normal") }}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	let method_select = document.getElementById('method');
	let method_help = document.getElementById('method_help');
	method_select.onchange = function() {
		method = method_select.value;
		if (method == 'slack') {
			method_help.innerHTML = "Enter in the Slack Web Hook URL. If you haven't got one, head over to <a href='https://api.slack.com/incoming-webhooks' style='color: hsl(217, 71%, 53%)'>https://api.slack.com/incoming-webhooks</a> for more information."
		} else if (method == 'email') {
			method_help.innerHTML = "Enter in the target email address for this alert. For example, you@yourcompany.com"
		}
	}
</script>
{% endblock %}