{% extends "base.html" %}
{% set active_page = "endpoints" %}

{% block content %}
<div class="section">
	<a href="{{ url_for('main.new_endpoint') }}">
		<button class="button is-primary is-pulled-right">Create endpoint</button>
	</a>
	<p class="title is-pulled-left">Endpoints</p>
</div>
<div class="section">
{% if endpoints %}
<table id="data" class="table is-striped is-hoverable is-fullwidth">
	<thead>
		<tr>
			<th>Name</th>
			<th>Method</th>
			<th>Enabled</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for endpoint in endpoints %}
			<tr>
				<td><a href="{{ url_for('main.get_endpoint', endpoint_id=endpoint.id) }}" style="color: hsl(217, 71%, 53%)">{{ endpoint.name }}</a></td>
				<td>{{ endpoint.method }}</td>
				<td>{% if endpoint.enabled %} Yes {% else %} No {% endif %}</td>
				{% if endpoint.available %}<td class="is-success">UP</td>{% else %}<td class="is-danger">DOWN</td>{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h1 class="title">No endpoints yet!</h1>
{% endif %}
</div>
{% endblock %}