<!-- templates/endpoint.html -->

{% extends "base.html" %}
{% set active_page = "endpoints" %}

{% block content %}
<div class="column">
	<h3 class="title">Endpoint</h3>
	{% if alerts == [] %}
	<h3 class="subtitle">You need to add an alert method first!</h3>
	{% else %}
	<div class="box">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
		
		<form method="POST" {% if endpoint_id %} action="{{ url_for(request.endpoint, endpoint_id=endpoint_id) }}" {% else %} action="{{ url_for(request.endpoint) }}" {% endif %}>
			{{ form.csrf_token }}

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					{{ form.name.label(class="label") }}
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							{{ form.name(placeholder='Endpoint Name', class="input is-normal") }}
							{% if form.name.errors %}
								<ul class="errors">
									{% for error in form.name.errors %}
										<li class="help is-danger is-size-6">{{ error }}</li>{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					{{ form.method.label(class="label") }}
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<div class="select is-fullwidth is-normal">
								{{ form.method() }}
							</div>
							{% if form.method.errors %}
								<ul class="errors">
									{% for error in form.method.errors %}
										<li class="help is-danger is-size-6">{{ error }}</li>{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					{{ form.alert.label(class="label") }}
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<div class="select is-fullwidth is-normal">
								{{ form.alert() }}
							</div>
							{% if form.alert.errors %}
								<ul class="errors">
									{% for error in form.alert.errors %}
										<li class="help is-danger is-size-6">{{ error }}</li>{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					{{ form.endpoint.label(class="label") }}
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							{{ form.endpoint(placeholder='https://yourdomain.com', class="input is-normal") }}
							<ul>
								<li id="method_help" class="help is-size-6"></li>
							</ul>
							{% if form.endpoint.errors %}
								<ul class="errors">
									{% for error in form.endpoint.errors %}
										<li class="help is-danger is-size-6">{{ error }}</li>{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					{{ form.enabled.label(class="label checkbox") }}
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<label class="checkbox is-normal">
								{{ form.enabled() }}
							</label>
							{% if form.enabled.errors %}
								<ul class="errors">
									{% for error in form.enabled.errors %}
										<li class="help is-danger">{{ error }}</li>{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label">
					<!-- Left empty for spacing -->
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							{{ form.submit(class="button is-primary is-normal") }}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	{% endif %}
</div>

<script>
	let method_select = document.getElementById('method');
	let method_help = document.getElementById('method_help');
	method_select.onchange = function() {
		method = method_select.value;
		if (method == 'http') {
			method_help.innerHTML = "Enter in the HTTP URL to monitor."
		} else if (method == 'https') {
			method_help.innerHTML = "Enter in the HTTPS URL to monitor."
		}
	}
</script>
{% endblock %}