<!-- templates/endpoint.html -->

{% extends "base.html" %}
{% set active_page = "endpoints" %}

{% block content %}
<div class="column">
	<h3 class="title">Endpoint</h3>
	{% if alerts == [] %}
	<h3 class="subtitle">You need to add an alert method first!</h3>
	{% else %}
	<div class="box">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
		
		<form method="POST" {% if endpoint_id %} action="{{ url_for(request.endpoint, endpoint_id=endpoint_id) }}" {% else %} action="{{ url_for(request.endpoint) }}" {% endif %}>
			{{ form.csrf_token }}

			<div class="field control form-group">
				{{ form.name.label(class="label") }}
				{{ form.name(placeholder='Endpoint Name', class="input is-large") }}
				{% if form.name.errors %}
					<ul class="errors">
						{% for error in form.name.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				{{ form.method.label(class="label") }}
				{{ form.method(class="select is-large") }}
				<ul>
					<li id="method_help" class="help"></li>
				</ul>
				{% if form.method.errors %}
					<ul class="errors">
						{% for error in form.method.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				{{ form.alert.label(class="label") }}
				{{ form.alert(class="select is-large") }}
				{% if form.alert.errors %}
					<ul class="errors">
						{% for error in form.alert.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				{{ form.endpoint.label(class="label") }}
				{{ form.endpoint(placeholder='https://yourdomain.com', class="input is-large") }}
				{% if form.endpoint.errors %}
					<ul class="errors">
						{% for error in form.endpoint.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				{{ form.enabled.label(class="label checkbox") }}
				{{ form.enabled(class="checkbox is-large") }}
				{% if form.enabled.errors %}
					<ul class="errors">
						{% for error in form.enabled.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				<div class="submit-button">
					{{ form.submit(class="button is-block is-info is-large is-fullwidth") }}
				</div>
			</div>
		</form>
	</div>
	{% endif %}
</div>

<script>
	let method_select = document.getElementById('method');
	let method_help = document.getElementById('method_help');
	method_select.onchange = function() {
		method = method_select.value;
		if (method == 'http') {
			method_help.innerHTML = "Enter in the HTTP URL to monitor."
		} else if (method == 'https') {
			method_help.innerHTML = "Enter in the HTTPS URL to monitor."
		}
	}
</script>
{% endblock %}