<!-- templates/signup.html -->

{% extends "base.html" %}
{% set active_page = "signup" %}

{% block content %}
<div class="column is-4 is-offset-4">
	<h3 class="title">Sign Up</h3>
	<div class="box">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }} <a href="{{ url_for('auth.login') }}">Login instead</a>.
			</div>
		{% endif %}
		{% endwith %}
		<form method="POST" action="/signup">
			{{ form.csrf_token }}

			<div class="field control form-group">
				{{ form.name.label(class="label") }}
				{{ form.name(placeholder='Your Name', class="input is-large") }}
				{% if form.name.errors %}
					<ul class="errors">
						{% for error in form.name.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				{{ form.email.label(class="label") }}
				{{ form.email(placeholder='youremail@example.com', class="input is-large") }}
				{% if form.email.errors %}
					<ul class="errors">
						{% for error in form.email.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				{{ form.password.label(class="label") }}
				{{ form.password(class="input is-large") }}
				{% if form.password.errors %}
					<ul class="errors">
						{% for error in form.password.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				{{ form.confirm.label(class="label") }}
				{{ form.confirm(class="input is-large") }}
				{% if form.confirm.errors %}
					<ul class="errors">
						{% for error in form.confirm.errors %}
							<li class="help is-danger">{{ error }}</li>{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="field control form-group">
				<div class="submit-button">
					{{ form.submit(class="button is-block is-info is-large is-fullwidth") }}
				</div>
			</div>

			<div class="login-signup">
				<div>
					<span>Already have an account?</span>
					<b><a href="{{ url_for('auth.login') }}" style="color: hsl(217, 71%, 53%)">Log in.</a></b>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}